<h1><p class="lead text-center">Nomer : +38063635353643634634</p></h1>
<h1><p class="lead text-center">Adress : ul.Pushkina, dom Kalakushkina</p></h1>
<h1><p class="lead text-center">Email : test@gmail.com</p></h1>